__pycache__/
test/
train/
sample_submission.csv
train.csv
scripts/.ipynb_checkpoints/
data/
scripts/train.h5
practice-test/
practice-train/
practice-images-small/
scripts/__pychache__/
scripts/preprocess.ipynb